<html>
    <head>
        <title>Hello, wrharrbl!</title>
    </head>
    <body>
        <h1>Aloha!</h1>
        <form method='post'>
            <input type='text' name='email' />
            <input type='password' name='password' />
            <input type='submit' />
        </form>
        <%= params %>
        <%= 1024 * 1024 %>
        <%= erb :redsquare %>
    </body>
</html>
